.shake {
	animation-name: shake;
	animation-duration: 1s;
}

@keyframes shake {
	10%, 90% {
		transform: translate3d(-2px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(4px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-8px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(8px, 0, 0);
	}
}

.heartbeat {
	animation-name: heartbeat;
	animation-duration: 0.5s;
}

@keyframes heartbeat {
	0% {
		transform: scale( .75 );
	}
	40% {
		transform: scale( 1 );
	}
	60% {
		transform: scale( .75 );
	}
	100% {
		transform: scale( 1 );
	}
}

.heartbeat2 {
	animation-name: heartbeat2;
	animation-duration: 1s;
}

@keyframes heartbeat2 {
	0% {
		transform: scale( 0 );
	}
	20% {
		transform: scale( 1.5 );
	}
	30% {
		transform: scale( 1 );
	}
	80% {
		transform: scale( 1 );
	}
	100% {
		transform: scale( 0 );
	}
}

.click:active, .click:focus {
	animation-name: click;
	animation-duration: 0.2s;
	animation-timing-function: ease-in-out;
}

@keyframes click {
	80% {
		transform: translateY(2px);
	}
}