.botona {
	height: 50px;
	border-radius: 10px;
	margin: auto;
	margin-top: 30px;
}

.say {
	display: block;
}

.delete {
	cursor: pointer;
}

h1 {
	margin: auto;
	margin-bottom: 40px;
}

.colona {
	margin-top: 60px;
	color: white;
	border-radius: 10px;
	padding: 20px;
	text-align: center;
	height: auto !important;
}

.blank {
	opacity: 0;
}

.video {
	width: 100%;
	height: auto;
	background: url('/camagru/assets/images/permission.png');
	background-size: cover;
	background-position: center;
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#canvas, #img, #save, #retake, #say, #pub {
	display: none;
}

.preview {
	width: 100%;
	height: auto;
}

.inputt {
	border-radius: 10px;
	background-color: #384064 !important;
	padding: 10px;
	width: 100%;
	min-height: 200px;
	resize: none;
}

.postImg {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

#spinner {
	margin-top: 80px !important;
}

#fileInput, #spinner, #preview {
	display: none;
}

.label {
	padding: 12px;
	cursor: pointer;
}

.post {
	margin-top: 10px;
}

.element {
	margin: 0;
	background-color: #272f51E5;
}


.errorMessage {
	background: #ef5e5e;
	color: white;
	display: block;
}

.alert-container {
	background: #000000CD;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.alert-card {
	background-color: #272f51;
	color: white;
	max-width: 700px;
	margin-top: 80px !important;
}

#alert-container {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
	z-index: 2;
}

.previous {
	float: left;
	cursor: pointer;
	opacity: 0.5;
}

.next {
	float: right;
	cursor: pointer;
}

.stickerContainer {
	position: relative;
	width: 100%;
	height: 0;
}

.sticker {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	display: none;
}

#dropImg, #dropHeading {
	margin: auto;
	margin-top: 10px;
	text-align: center;
	display: none;
}

#uploadHeading {
	margin-bottom: 20px;
}

#pub {
	margin-top: 20px;
}