html, body {
	width: 100%;
	height: 100%;
}

.jumbotron {
	color: white;
	max-width: 700px;
}

.top-jumbotron ,.jumbotron {
	margin-top: 30px;
	margin-bottom: 30px;
}

.separator {
	background: white;
}

.new-badge {
	background: #191e36;
}

.admin-badge {
	background-color: #e74c3c !important;
}

.postImg {
	width: 100%;
	height: auto;
	border-radius: 10px;
	/* clip-path: inset(10px 20px 30px 40px); */
}

.alert-container {
	background: #000000CD;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.alert-card {
	margin-top: 80px !important;
}

.like {
	margin-right: 7px;
	cursor: pointer;
}

.comment {
	margin-left: 10px;
	cursor: pointer;
	margin-right: 5px;
}

.share {
	margin-left: 10px;
	cursor: pointer;
}

.alert-container {
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s, opacity 0.3s linear;
}

.nothing {
	display: block;
	margin: auto;
	margin-top: 100px;
	opacity: 0.3;
	text-align: center;
}

.delete {
	cursor: pointer;
	display: none;
}

.commentt {
	margin: 0;
	margin-top: 10px;
}

.comment-text {
	background: #191e36;
	padding: 10px;
	padding-left: 20px;
	border-radius: 10px;
}

.deleteComment {
	display: none;
	cursor: pointer;
}

.commentsContainer {
	display: none;
	border-radius: 10px;
	margin-top: 10px;
}

.commentForm {
	display: block;
	width: 100%;
}

.inpot {
	height: 45px;
	width: auto;
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	margin-top: 20px;
	border: 1px solid white;
	outline: none !important;
	box-shadow: none;
	color: #272f51;
	background-color: white;
	box-sizing: 0;
	overflow: hidden;
	resize: none;
}

.inpot:focus {
	background-color: white;
	border-style: solid;
	border-width: 1px 0px 1px 1px;
	outline: none !important;
	box-shadow: none;
	color: #272f51;
}

.comantir {
	margin-top: 20px;
	background: #191f3a;
	color: white;
	border: 0;
	z-index: 0 !important;
}

.comantir:hover {
	background: #5765a5;
}

.comantir:active {
	background: #191f3a !important;
}

.showMore {
	text-align: center;
	cursor: pointer;
	margin: auto;
	display: block;
	width: 100%;
	margin-top: 10px;
	text-decoration: underline !important;
}

.showMore:hover {
	color: #5765a5 !important;
}

.heartContainer {
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;
	position: relative;
}

.posts {
	text-align: unset;
}

.tooltip-holder {
	margin: 0;
	padding: 0;
	width: 0px;
	height: 0px;
	position: relative;
}

.tooltipp {
	position: absolute;
	bottom: 10px;
	padding: 10px;
	display: block;
	background: #000000CD;
	border-radius: 10px;
	visibility: hidden;
}

.shareContainer, .arrowsContainer {
	display: none;
}

.shareLink {
	display: block;
	width: 100%;
	margin: auto;
	margin-top: 20px;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 10px;
	color: #2c386d;
}

.shareButtons {
	text-align: center;
	margin-top: 20px;
}

.copy {
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	color: white !important;
	cursor: pointer;
}

.copy:hover {
	text-decoration: none;
	
}

.shareLink {
	height: 50px;
	border-radius: 10px;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid white;
	outline: none !important;
	box-shadow: none;
	color: #272f51;
	background-color: white;
	box-sizing: 0;
	overflow: hidden;
	resize: none;
}