html, body {
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
}
.jumbotron {
	background-color: #272f51;
	color: white;
	max-width: 700px;
}

.top-jumbotron ,.jumbotron {
	margin-top: 30px;
	margin-bottom: 30px;
}

.separator {
	background: white;
}

.post {
	width: 100%;
	border-radius: 10px;
}

.new-badge {
	background: #191e36;
}

.post {
	width: 100%;
	height: auto;
	/* clip-path: inset(10px 20px 30px 40px); */
}

.alert-container {
	background: #000000CD;
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.alert-card {
	margin-top: 80px !important;
}

.like {
	margin-right: 7px;
	cursor: pointer;
}

.comment {
	margin-left: 10px;
}

#alert-container {
	display: none;
}

.nothing {
	display: block;
	margin: auto;
	opacity: 0.3;
	width: 100%;
	height: auto;
	max-width: 100px;
	text-align: center;
}

.delete {
	cursor: pointer;
}