.jumbotron
{
	margin-top: 100px;
	background-color: #272f51E5;
	color: white;
}

.botona{
	background-image: linear-gradient(to right, #00c6ff, #0072ff);
}
 .botona:hover {
	box-shadow: 0 5px 15px rgba(1, 5, 26, 0.4);
 }