html {
	scrollbar-color: #f1f1f1 #cacaca;
}

* {
	color: #272f51;
}

.back {
	background-image: url('../images/back.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #dfdfdf;;
}

body
{
	background: rgb(223, 223, 223);
}

.topnav, .footer {
	background-color: white;
}

.jumbotron
{
	background-color: #ffffffE5 !important;
	color: white;
	-webkit-box-shadow: 0px 1px 5px 0px rgb(28, 36, 68) !important;
	-moz-box-shadow: 0px 1px 5px 0px rgb(28, 36, 68) !important;
	box-shadow: 0px 3px 6px -3px rgb(28, 36, 68) !important;
}

hr, .separator {
	background: #dfdfdf;
}

.topnav a {
	color: #f2f2f2;
}


.topnav a:not(.navbar-brand):hover {
	background: #dfdfdf;
}

@media screen and (max-width: 600px) {
	.topnav.responsive .bars {
		background: white;
	}
}

/* Track */
::-webkit-scrollbar-track {
	background: #cacaca;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f1f1f1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #343e70;
}

.comment-text, .shareLink {
	background: #dfdfdf !important;
	-webkit-box-shadow: 0px 1px 5px 0px rgb(28, 36, 68) !important;
	-moz-box-shadow: 0px 1px 5px 0px rgb(28, 36, 68) !important;
	box-shadow: 0px 3px 6px -3px rgb(28, 36, 68) !important;
}

.inpot {
	background: #dfdfdf;
}

.inputt {
	background-color: #ffffff00 !important;
	border-color: rgb(28, 36, 68);
	color: rgb(28, 36, 68);	
}

.inputt:focus {
	background-color: #272f5100;
	border-color: rgb(28, 36, 68);
	color: rgb(28, 36, 68);
}

.inputt::placeholder {
	color: rgb(28, 36, 68);
}

.loading-container {
	background: #dfdfdf;
}

.spinner-border {
	color: #272f51;
}

.tooltipp {
	color: white !important;
}

.info-container, .info {
	background: #dfdfdf !important;
}

.edit {
	background: #dfdfdf !important;
}

.edit:hover {
	background: #aaaaaa !important;
}

.profilepic {
	border-color: #272f51;
}

.absolute-div {
	border-color:  #5a5959;
}