.jumbotron
{
	margin-top: 100px;
	background-color: #272f51E5;
	color: white;
}

.oops {
	text-align: center;
}

.paragraph {
	text-align: center;
}

.image {
	margin: auto;
	margin-top: 60px;
	width: 100%;
	height: auto;
	display: block;
}
