.jumbotron {
	margin-top: 100px;
	background: #272f51E5;
	text-align: center;
}

.absolute-div {
	height: 150px;
	min-height: 150px !important;
	width: 150px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	clip-path: circle(70px at center);

}

.update {
	height: 150px;
	width: auto;
	cursor: pointer;
	opacity: 0;
}

.info {
	line-height: 50px;
	overflow: hidden;
	padding: 10px;
}

.info-container {
	overflow: hidden;
	background: #1c223b;
	border-radius: 10px;
	height: 50px;
}

.edit {
	float: right;
	background: #141a2e;
	color: white;
	padding: 15px;
	padding-top: 13px;
	border-radius: 0px 10px 10px 0px;
	text-decoration: none;
	height: 50px;
}

.edit:hover {
	background: #2e385a;
}

.label {
	color: white;
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: left;
}

.username {
	background: none;
}

.botona {
	margin: auto;
	margin-top: 50px;
}

#newPicture, #canvas, #spinner {
	display: none;
}

#spinner {
	margin: auto;
	text-align: center;
}

.errorMessage {
	background: #ef5e5e;
	color: white;
	display: block;
	font-size: 20px;
}