.jumbotron {
	margin-top: 100px;
	background: #272f51E5;
}

.profile {
	text-align: center;
}

.absolute-div {
	height: 150px;
	min-height: 150px !important;
	width: 150px;
	margin: auto;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.update {
	height: 150px;
	width: auto;
	cursor: pointer;
	opacity: 0;
}

.info {
	line-height: 50px;
	overflow: hidden;
	padding: 10px;
}

.info-container {
	overflow: hidden;
	background: #1c223b;
	border-radius: 10px;
	height: 50px;
}

.edit {
	float: right;
	background: #141a2e;
	color: white;
	padding: 15px;
	padding-top: 13px;
	border-radius: 0px 10px 10px 0px;
	text-decoration: none;
	height: 50px;
}

.edit:hover {
	background: #2e385a;
}

.label {
	color: white;
	display: block;
	margin: auto;
	margin-top: 20px;
	text-align: left;
}

.username {
	background: none;
}

.botona {
	margin: auto;
	margin-top: 50px;
}

#newPicture, #canvas, #spinner {
	display: none;
}

#spinner {
	margin: auto;
	text-align: center;
}

.errorMessage {
	background: #ef5e5e;
	color: white;
	display: block;
	font-size: 20px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked + .slider {
	background-color: #2ed573;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2ed573;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch-label {
	float: left;
	line-height: 30px;
}

.switch-container {
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 20px;
}

.switch {
	float: right;
}